<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookies and Sessions</title>
</head>
<body style="padding: 50px;">
  <h1>Cookies and Sessions</h1>
  <p>Cookies -> use for client</p>
  <p>Sessions -> use for server</p>
</body>
</html>